[Desktop Entry]
Name=slopjson
Comment=View and explore JSON files
Exec=slopjson
Icon=slopjson
Terminal=false
Type=Application
Categories=Utility;Development;
MimeType=application/json;
